---
type: data
object: {object_id}
network: {network_id}
source: {数据来源}
---

# {object_id}

<!-- 列名应与目标 object 的 Data Properties 列名一致 -->
<!-- 每个 type: data 文件建议只包含一个数据表 -->
<!-- object 的 Data Source Type 必须为 bknd 才允许使用 .bknd 文件 -->

| {prop_1} | {prop_2} | {prop_3} |
|----------|----------|----------|
| {value} | {value} | {value} |
